<footer id="footer" class="Footer home-footer">
  <div class="Footer__inner">
    <!-- <div class="Footer__guide">
      <div class="footer-pagetop js-pagetop util-sp-hidden">
        <a href="#header">ページ上部へ</a>
      </div>
    </div> -->
    <div class="Footer__body">
      <div class="footer-snav">
        <ul class="footer-snav__list">
          <li class="footer-snav__list__item"><a href="/privacy_policy/" class="footer-snav__list__link">個人情報保護方針</a>
          </li>
          <li class="footer-snav__list__item"><a href="/efforts/" class="footer-snav__list__link">各種取り組み・ご案内</a></li>
          <li class="footer-snav__list__item"><a href="/site/" class="footer-snav__list__link">サイトのご利用について</a></li>
          <li class="footer-snav__list__item"><a href="/sitemap/" class="footer-snav__list__link">サイトマップ</a></li>
        </ul>
        <p class="footer-snav__text">ライフカード株式会社<br>登録番号：関東財務局長（5）第01481号　日本貸金業協会会員　第005681号</p>
      </div>
      <div class="footer-utility-wrap">
        <div class="footer-utility">
          <div class="footer-utility__appli">
            <div class="button-wrap" data-col-pc="1" data-col-sp="1">
              <div class="button"><a href="/howto/app/"
                  data-android-href="https://play.google.com/store/apps/details?id=jp.co.lifecard.Lifewebdeskapp"
                  data-ios-href="https://itunes.apple.com/jp/app/id1023570434?mt=8"
                  class="button__type js-ua-link-switch"><span class="button__label">ライフカードアプリ</span></a></div>
            </div>
          </div>
            <div class="footer-utility__social">
              <div class="footer-utility__social__item"><a href="https://www.tiktok.com/@lifecard_jp?_t=8YxThKO2XYI&amp;_r=1"
                  target="_blank" rel="noopener" class="footer-utility__social__link"><img
                    src="/app-files/img/symbol/logo_tiktok.svg" alt="tiktok"></a>
              </div>
              <div class="footer-utility__social__item"><a href="https://www.instagram.com/lifecard_jp/?hl=ja"
                  target="_blank" rel="noopener" class="footer-utility__social__link"><img
                    src="/app-files/img/symbol/logo_instagram.svg" alt="instagram"></a>
              </div>
              <div class="footer-utility__social__item"><a href="https://twitter.com/lifecard_jp" target="_blank"
                  rel="noopener" class="footer-utility__social__link"><img src="/app-files/img/symbol/logo_x.svg"
                    alt="x"></a>
              </div>
              <div class="footer-utility__social__item"><a href="https://www.facebook.com/LIFECARD.Officialpage"
                  target="_blank" rel="noopener" class="footer-utility__social__link"><img
                    src="/app-files/img/symbol/logo_fb.svg" alt="Facebook"></a>
              </div>
            </div>
        </div>
        <div class="footer-copyright-v2">
          <small class="footer-copyright__label">&copy; LIFE CARD Co., Ltd. All rights reserved.</small>
        </div>
      </div>
      <!-- キャンペーン追従バナー -->
      <!-- <a href="/card/campaign/join/?argument=xZcLVgDf&amp;dmai=a649cda93ebfb0" class="join_banner">
        現金<br>
        <span>20,000</span>円<br>
        プレゼント！
      </a> -->
      <!-- 新キャンペーン追従バナー -->
    <div class="join_banner">
      <a href="/card/campaign/join/?argument=xZcLVgDf&dmai=a649cda93ebfb0">
        <img src="/img/campaign_btn.webp" class="animation" alt="現金20,000円プレゼント">
      </a>
    </div>
    <style>
      @media screen and (min-width: 769px),
      print {
        .join_banner {
          display: block;
          position: fixed;
          width: 125px;
          height: 112px;
          bottom: 350px;
          right: 15px;
          z-index: 1000;
        }
      }
      @media screen and (max-width: 768px) {
        .join_banner {
          display: block;
          position: fixed;
          width: 96px;
          height: 89px;
          bottom: 75px;
          right: 20px;
          z-index: 1000;
        }
      }
      .join_banner a {
        position: relative;
        display: block;
      }
      .join_banner img {
        position: absolute;
      }
    </style>
      <!--/Footer__body-->
    </div>
    <!--/Footer__inner-->
  </div>
  <!--/Footer-->
</footer>
<!-- spフッター追従 -->
<div class="sp-ft_follow util-pc-hidden">
  <a href="/card/campaign/join/?argument=xZcLVgDf&dmai=a65c32aa0d61ad" class="sp_footer-application">今すぐお申込み</a>
  <div class="sp_footer-other-contents">
    <a href="https://help.lifecard.co.jp/" class="sp_footer-other" id="sp-pop_faq">よくある<br>ご質問</a>
    <a href="javascript:void(0);" class="sp_footer-other" onclick="chatOpen()">チャットで<br>質問</a>
  </div>
</div>
<script src="/app-files/js/custom/home.js?20241206"></script>
<!-- FAQ対応分20240520 tag start -->
<script async src="https://helpfeel.com/projects/js/helpfeel-element.js" data-project-name="lifecard-faq"></script>
<script async src="https://helpfeel.com/projects/js/helpfeel-element.js" data-project-name="vpreca-faq"></script>
<!-- FAQ対応分20240520 tag end -->
<!-- Search tag start -->
<script type="text/javascript">
if (location .protocol == "https:") {
document.write(unescape('%3Cscript src="https://ssl.syncsearch.jp/common/js/suggest.js" type="text/javascript"%3E%3C/script%3E'));
} else {
document.write(unescape('%3Cscript src="http://pro.syncsearch.jp/common/js/suggest.js" type="text/javascript"%3E%3C/script%3E'));
}
</script>
<script type="text/javascript">
SYNCSEARCH_SITE="V2GCK346";
</script>
<!-- Search tag end -->
<!-- FAQ追従バナー -->
<a href="https://help.lifecard.co.jp/" class="float_faq_pc util-sp-hidden">
<div class="float_faq-outer">
<!-- <img src="https://www.lifecard.co.jp/img/widget/faq_pc.png" alt="FAQ追従バナー"> -->
よくある<br>
ご質問
</div>
</a>
<style>
@media screen and (min-width: 769px),
print {
.float_faq_pc {
  background: #000;
  display: table;
  position: fixed;
  color: #ffff54 !important;
  text-align: center;
  font-size: 1.4rem;
  width: 85px;
  height: 85px;
  bottom: 230px;
  right: 25px;
  z-index: 1000;
  border-radius: 50%;
}
.float_faq_pc:hover {
  background: #fff;
  color: #16a2ff !important;
}
.float_faq-outer {
  display: table-cell;
  vertical-align: middle;
}
.float_faq_sp {
  display: none;
}
}
@media screen and (max-width: 768px) {
.float_faq_sp {
  display: block;
  position: fixed;
  width: 80px;
  height: 73px;
  bottom: 180px;
  right: 0px;
  z-index: 1000000;
}
.float_faq_pc {
  display: none;
}
}
</style>
<script>
//チャットボット
(function (c, n, s) {
if (c[n] === void 0) {
  c['ULObject'] = n;
  c[n] = c[n] || function () { (c[n].q = c[n].q || []).push(arguments) };
  c[n].l = 1 * new Date(); var e = document.createElement('script');
  e.async = 1; e.src = s + "/chatbot.js";
  var t = document.getElementsByTagName('script')[0]; t.parentNode.insertBefore(e, t);
}
})(window, 'ul_widget', 'https://support-widget.userlocal.jp');
ul_widget('init', { 'id': 'b6e49cd0bec3f0c20b75', 'lg_id': '' });
//button処理
function chatOpen() {
ul_widget('show');
ul_widget('popup_open');
}
function chatOperator() {
ul_widget('show');
ul_widget('popup_open');
ul_widget('sendUserText', '担当オペレーターに繋ぎたい（受付時間9：30～17：30）');
}
//SPで表示しないための処理
// $(document).ready(function () {
//   if (window.matchMedia('(max-width: 767.98px)').matches) {
//     ul_widget('hide');
//     ul_widget('event', 'popup_close', function () {
//       ul_widget('hide');
//     });
//   }
// });
//元のアイコンを表示しないための処理
ul_widget('hide');
ul_widget('event', 'popup_close', function () {
ul_widget('hide');
iframeElement = window.document.getElementsByTagName("iframe");
const popup = iframeElement[0].contentWindow.document.getElementById("_ul-widget-btn");
popup.style.visibility = "hidden";
});
</script>
<!-- チャットボット追従バナー -->
<a href="javascript:void(0);" onclick="chatOpen()" class="float_chat_pc util-sp-hidden">
<div class="float_chat-outer">
<!-- <img src="https://www.lifecard.co.jp/img/widget/faq_pc.png" alt="FAQ追従バナー"> -->
チャットで<br>
質問
</div>
</a>
<style>
@media screen and (min-width: 769px),
print {
.float_chat_pc {
  background: #000;
  display: table;
  position: fixed;
  color: #ffff54 !important;
  text-align: center;
  font-size: 1.4rem;
  width: 85px;
  height: 85px;
  bottom: 130px;
  right: 25px;
  z-index: 1000;
  border-radius: 50%;
}
.float_chat_pc:hover {
  background: #fff;
  color: #16a2ff !important;
}
.float_chat-outer {
  display: table-cell;
  vertical-align: middle;
}
.float_faq_sp {
  display: none;
}
}
@media screen and (max-width: 768px) {
.float_faq_sp {
  display: block;
  position: fixed;
  width: 80px;
  height: 73px;
  bottom: 180px;
  right: 0px;
  z-index: 1000000;
}
.float_chat_pc {
  display: none;
}
}
</style>
<!-- カーソル -->
<div id="cursor"></div>
<noscript>
<iframe src="//b.yjtag.jp/iframe?c=v1cYI60" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</noscript>
<script type="text/javascript" src="/_Incapsula_Resource?SWJIYLWA=719d34d31c8e3a6e6fffd425f7e032f3&ns=1&cb=2006875072" async></script>