<header id="header" class="Header DownMove">
  <div class="Header__inner">
    <div class="Header__body">
      <h1 class="header-logo--body"><a href="/"><img
            src="https://www.lifecard.co.jp/app-files/img/symbol/logo_main_02.webp" class="logo-padding"
            alt="LIFE CARD"></a>
      </h1>
      <nav class="header-gnav">
        <ul class="header-gnav__list js-gnav-location">
          <li class="js-gnav-location-list"><a href="/card/">カードをつくる</a></li>
          <li class="js-gnav-location-list"><a href="/partner/bussinesscard/">ビジネスカード</a></li>
          <li class="js-gnav-location-list"><a href="/partner/corp/">加盟店</a></li>
          <li class="js-gnav-location-list"><a href="/support/">お客さまサポート</a></li>
        </ul>
      </nav>
      <div class="header-utility">
        <div class="header-utility__login"><a href="https://www3.lifecard.co.jp/WebDesk/www/login.html"
            target="_blank" rel="noopener"><span class="util-sp-hidden">LIFE-Web Desk </span>ログイン</a>
        </div>
        <div class="header-utility__application util-sp-hidden"><a
            href="/card/campaign/join/?argument=xZcLVgDf&dmai=a65c32aa0d61ad" class="header-utility__rightnowlogin"
            target="_blank" rel="noopener">今すぐお申込み</a>
        </div>
      </div>
      <div class="header-utility__search"><a href="javascript:void(0)"
          class="header-utility__search__title js-search-btn">検索</a>
        <div class="header-utility__search__wrap  js-search-menu">
          <form name="SS_searchForm" id="SS_searchForm" action="https://search.lifecard.co.jp/search" method="get"
            enctype="application/x-www-form-urlencoded" class="header-utility__search__block">
            <input type="hidden" name="site" value="V2GCK346" />
            <input type="hidden" name="charset" value="utf-8" />
            <input type="hidden" name="design" value="1" />
            <div class="header-utility__search__input"><input type="text" name="query" id="SS_searchQuery"
                class="search__input-v2 js-search-input" autocomplete="off" placeholder="なにをお探しですか？" /></div>
            <div class="header-utility__search__submit"><span class="header-utility__search__submit__label"><input
                  type="submit" name="submit" id="submit" value="submit" class="" /></span></div>
          </form>
        </div>
      </div>
      <a href="/card/campaign/join/?argument=xZcLVgDf&dmai=a65c32aa0d61ad" class="header-application util-pc-hidden">
        <p>今すぐ<br>
          お申込み
        </p>
      </a>
      <div class="header-menu-v2">
        <a href="javascript:void(0)" class="header-menu-v2__btn js-header-menu-btn">
          <div class="header-menu-v2__btn__item"><span
              class="header-menu-v2__btn__label js-header-menu-btn-label">メニュー</span></div>
        </a>
        <div class="header-menu-v2-wrap js-header-menu">
          <div class="header-menu-v2-wrap__wrapper">
            <div class="header-menu-v2-wrap__inner">
              <div class="header-menu-v2__layout">
                <div class="header-menu-v2__item js-header-accordion-wrap">
                  <div class="header-menu-v2__title"><a href="/card/"
                      class="header-menu-v2__title__link js-header-accordion-head">カードをつくる</a></div>
                  <div class="header-menu-v2__body js-header-accordion-body">
                    <ul class="header-menu-v2__list sp-menu-show" data-pc-list-col="2">
                      <li class="header-menu-v2__list__item"><a href="/card/"
                          class="header-menu-v2__list__item__link">カードをつくる トップ</a></li>
                    </ul>
                    <ul class="header-menu-v2__list" data-pc-list-col="2">
                      <li class="header-menu-v2__list__item"><a href="/card/credit/"
                          class="header-menu-v2__list__item__link">クレジットカード一覧</a></li>
                      <li class="header-menu-v2__list__item"><a href="/card/flow/"
                          class="header-menu-v2__list__item__link">お申込フロー</a></li>
                    </ul>
                  </div>
                </div>
                <div class="header-menu-v2__item js-header-accordion-wrap">
                  <div class="header-menu-v2__title"><a href="/howto/"
                      class="header-menu-v2__title__link js-header-accordion-head">カードをつかう</a></div>
                  <div class="header-menu-v2__body js-header-accordion-body">
                    <ul class="header-menu-v2__list sp-menu-show" data-pc-list-col="2">
                      <li class="header-menu-v2__list__item"><a href="/howto/"
                          class="header-menu-v2__list__item__link">カードをつかう トップ</a></li>
                    </ul>
                    <div class="header-menu-v2__box">
                      <div class="header-menu-v2__subtitle">基本的な使い方</div>
                      <ul class="header-menu-v2__list-v2" data-pc-list-col="2">
                        <li class="header-menu-v2__list-v2__item category-item"><a href="/howto/guide/"
                            class="header-menu-v2__list__item__link">クレジットカードのご利用方法</a></li>
                        <li class="header-menu-v2__list-v2__item category-item"><a href="/howto/payment/"
                            class="header-menu-v2__list__item__link">お支払方法</a></li>
                      </ul>
                    </div>
                    <div class="header-menu-v2__box">
                      <div class="header-menu-v2__subtitle">こんなときにもつかえる</div>
                      <div class="header-menu-v2__column" data-pc-list-col="2">
                        <div class="header-menu-v2__column__item">
                          <div class="header-menu-v2__category">ネット</div>
                          <ul class="header-menu-v2__list-v2" data-pc-list-col="1">
                            <li class="header-menu-v2__list-v2__item category-item"><a href="https://lmall.jp/"
                                class="header-menu-v2__list__item__link--blank" target="_blank"
                                rel="noopener">L-Mall（エルモール）</a></li>
                            <li class="header-menu-v2__list-v2__item category-item"><a
                                href="/howto/entertainment/toto.html"
                                class="header-menu-v2__list__item__link">スポーツくじの購入</a></li>
                          </ul>
                        </div>
                        <div class="header-menu-v2__column__item">
                          <div class="header-menu-v2__category">公共料金など</div>
                          <ul class="header-menu-v2__list-v2" data-pc-list-col="1">
                            <li class="header-menu-v2__list-v2__item category-item"><a href="/howto/use/expenses/"
                                class="header-menu-v2__list__item__link">暮らしのお支払い</a></li>
                          </ul>
                        </div>
                        <div class="header-menu-v2__column__item">
                          <div class="header-menu-v2__category">スマートフォン</div>
                          <ul class="header-menu-v2__list-v2" data-pc-list-col="item-2">
                            <li class="header-menu-v2__list-v2__item category-item"><a
                                href="/howto/ap/"
                                class="header-menu-v2__list__item__link" rel="noopener">Apple
                                Pay</a></li>
                            <li class="header-menu-v2__list-v2__item category-item"><a
                                href="/howto/gp/"
                                class="header-menu-v2__list__item__link" rel="noopener">Google
                                Pay&trade;</a></li>
                          </ul>
                        </div>
                        <div class="header-menu-v2__column__item">
                          <div class="header-menu-v2__category">キャッシング</div>
                          <ul class="header-menu-v2__list-v2" data-pc-list-col="1">
                            <li class="header-menu-v2__list-v2__item category-item"><a href="/howto/use/cashing/"
                                class="header-menu-v2__list__item__link">キャッシング</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="header-menu-v2__box">
                      <div class="header-menu-v2__subtitle">Webやアプリでかんたん・便利に</div>
                      <ul class="header-menu-v2__list-v2" data-pc-list-col="2">
                        <li class="header-menu-v2__list-v2__item category-item"><a href="/howto/lwd/"
                            class="header-menu-v2__list__item__link">LIFE-Web Desk</a></li>
                        <li class="header-menu-v2__list-v2__item category-item"><a href="/howto/app/"
                            data-android-href="https://play.google.com/store/apps/details?id=jp.co.lifecard.Lifewebdeskapp"
                            data-ios-href="https://itunes.apple.com/jp/app/id1023570434?mt=8"
                            class="header-menu-v2__list__item__link js-ua-link-switch">ライフカードアプリ</a></li>
                      </ul>
                    </div>
                    <div class="header-menu-v2__box">
                      <div class="header-menu-v2__subtitle">おすすめサービス</div>
                      <div class="header-menu-v2__column" data-pc-list-col="2">
                        <div class="header-menu-v2__column__item">
                          <div class="header-menu-v2__category"><a href="/howto/yutai/"
                              class="header-menu-v2__category__link">優待サービス</a></div>
                        </div>
                        <div class="header-menu-v2__column__item">
                          <div class="header-menu-v2__category">トラベル</div>
                          <ul class="header-menu-v2__list-v2" data-pc-list-col="1">
                            <li class="header-menu-v2__list-v2__item category-item"><a
                                href="/howto/travel/service.html" class="header-menu-v2__list__item__link">旅行サービス</a>
                            </li>
                            <li class="header-menu-v2__list-v2__item category-item"><a href="/howto/travel/car.html"
                                class="header-menu-v2__list__item__link">レンタカー・カーシェアリング</a></li>
                            <li class="header-menu-v2__list-v2__item category-item"><a
                                href="/howto/travel/assistance.html"
                                class="header-menu-v2__list__item__link">海外アシスタンスサービス</a></li>
                          </ul>
                        </div>
                        <div class="header-menu-v2__column__item">
                          <div class="header-menu-v2__category">オンラインショップ</div>
                          <ul class="header-menu-v2__list-v2" data-pc-list-col="1">
                            <li class="header-menu-v2__list-v2__item category-item"><a href="https://lmall.jp/"
                                class="header-menu-v2__list__item__link--blank" target="_blank"
                                rel="noopener">L-Mall（エルモール）</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="header-menu-v2__item js-header-accordion-wrap">
                  <div class="header-menu-v2__title"><a href="/point/"
                      class="header-menu-v2__title__link js-header-accordion-head">おトクなポイント</a></div>
                  <div class="header-menu-v2__body js-header-accordion-body">
                    <ul class="header-menu-v2__list sp-menu-show" data-pc-list-col="2">
                      <li class="header-menu-v2__list__item"><a href="/point/"
                          class="header-menu-v2__list__item__link">おトクなポイント トップ</a></li>
                    </ul>
                    <ul class="header-menu-v2__list" data-pc-list-col="2">
                      <li class="header-menu-v2__list__item"><a href="/point/save.html"
                          class="header-menu-v2__list__item__link">おトクにポイントをためる</a></li>
                      <li class="header-menu-v2__list__item"><a href="/point/use.html"
                          class="header-menu-v2__list__item__link">おトクにポイントをつかう</a></li>
                    </ul>
                  </div>
                </div>
                <div class="header-menu-v2__item js-header-accordion-wrap">
                  <div class="header-menu-v2__title-v2"><a href="/basic/"
                      class="header-menu-v2__title-v2__link">ライフカードの基礎知識</a></div>
                </div>
              </div>
              <div class="header-menu-v2__layout">
                <div class="header-menu-v2__item js-header-accordion-wrap">
                  <div class="header-menu-v2__title"><a href="/service/"
                      class="header-menu-v2__title__link js-header-accordion-head">おすすめサービス</a></div>
                  <div class="header-menu-v2__body js-header-accordion-body">
                    <ul class="header-menu-v2__list sp-menu-show" data-pc-list-col="2">
                      <li class="header-menu-v2__list__item"><a href="/service/"
                          class="header-menu-v2__list__item__link">おすすめサービス トップ</a></li>
                    </ul>
                    <ul class="header-menu-v2__list" data-pc-list-col="2">
                      <li class="header-menu-v2__list__item"><a href="https://vpc.lifecard.co.jp/"
                          class="header-menu-v2__list__item__link--blank" target="_blank" rel="noopener">Ｖプリカ</a></li>
                      <li class="header-menu-v2__list__item"><a href="/service/insurance/"
                          class="header-menu-v2__list__item__link">おすすめの保険</a></li>
                      <li class="header-menu-v2__list__item"><a href="/lp/insurance.html"
                            class="header-menu-v2__list__item__link">ファイナンシャルプランニングサービス</a></li>
                      <li class="header-menu-v2__list__item"><a href="/card/service/cash_ins/omatome2.html"
                          class="header-menu-v2__list__item__link">おまとめ専用サポートローン</a></li>
                      <li class="header-menu-v2__list__item"><a href="/service/jcb/"
                          class="header-menu-v2__list__item__link">JCBギフトカードのご購入</a></li>
                    </ul>
                  </div>
                </div>
                <div class="header-menu-v2__item">
                  <div class="header-menu-v2__title-v2"><a
                      href="https://www3.lifecard.co.jp/WebDesk/action/wa108/WA10805/rWA1080501"
                      class="header-menu-v2__title-v2__link">キャンペーン</a></div>
                </div>
                <div class="header-menu-v2__item">
                  <div class="header-menu-v2__title-v2"><a
                      href="/partner/bussinesscard/"
                      class="header-menu-v2__title-v2__link">ビジネスカード</a></div>
                </div>
                <div class="header-menu-v2__item">
                  <div class="header-menu-v2__title-v2">
                    <a href="/partner/corp/" class="header-menu-v2__title-v2__link">加盟店</a>
                  </div>
                </div>
                <div class="header-menu-v2__item js-header-accordion-wrap">
                  <!-- <div class="header-menu-v2__title"><a href="/partner/corp/"
                      class="header-menu-v2__title__link js-header-accordion-head">加盟店さま</a></div>
                  <div class="header-menu-v2__body js-header-accordion-body">
                    <ul class="header-menu-v2__list sp-menu-show" data-pc-list-col="2">
                      <li class="header-menu-v2__list__item"><a href="/partner/corp/"
                          class="header-menu-v2__list__item__link">加盟店さま トップ</a></li>
                    </ul>
                    <ul class="header-menu-v2__list-v2" data-pc-list-col="2">
                      <li class="header-menu-v2__list-v2__item"><a href="/partner/corp/creditcard.html"
                          class="header-menu-v2__list-v2__item__link">キャッシュレス決済の導入</a></li>
                      <li class="header-menu-v2__list-v2__item"><a href="/partner/corp/web_desk.html"
                          class="header-menu-v2__list__item__link">加盟店Web Desk</a></li>
                      <li class="header-menu-v2__list-v2__item"><a href="/card/credit/businessloan/index.html"
                          class="header-menu-v2__list__item__link">ライフローンカードビジネス</a></li>
                      <li class="header-menu-v2__list-v2__item"><a href="/card/credit/business_partner/index.html"
                          class="header-menu-v2__list__item__link no-border">ビジネスパートナーローン</a></li>
                      <li class="header-menu-v2__list-v2__item"><a href="/partner/corp/payment.html"
                          class="header-menu-v2__list__item__link">Lifeペイメント 口振</a></li>
                      <li class="header-menu-v2__list-v2__item"><a href="/partner/corp/tie-up.html"
                          class="header-menu-v2__list__item__link">提携カード</a></li>
                      <li class="header-menu-v2__list-v2__item"><a href="/partner/corp/debit.html"
                          class="header-menu-v2__list__item__link">デビットカード</a></li>
                      <li class="header-menu-v2__list-v2__item"><a href="/partner/corp/l-mall.html"
                          class="header-menu-v2__list__item__link">L-Mall新規出店</a></li>
                    </ul>
                  </div> -->
                </div>
                <div class="header-menu-v2__item js-header-accordion-wrap">
                  <div class="header-menu-v2__title"><a href="/support/"
                      class="header-menu-v2__title__link js-header-accordion-head">お客さまサポート</a></div>
                  <div class="header-menu-v2__body js-header-accordion-body">
                    <ul class="header-menu-v2__list sp-menu-show" data-pc-list-col="2">
                      <li class="header-menu-v2__list__item"><a href="/support/"
                          class="header-menu-v2__list__item__link">お客さまサポート トップ</a></li>
                    </ul>
                    <ul class="header-menu-v2__list" data-pc-list-col="2">
                      <li class="header-menu-v2__list__item"><a href="https://help.lifecard.co.jp/"
                          class="header-menu-v2__list__item__link--blank" target="_blank" rel="noopener">よくあるご質問</a>
                      </li>
                      <li class="header-menu-v2__list__item"><a href="/support/trouble.html"
                          class="header-menu-v2__list__item__link">カード盗難・紛失のご連絡</a></li>
                    </ul>
                  </div>
                </div>
                <div class="header-menu-v2__item js-header-accordion-wrap">
                  <div class="header-menu-v2__title"><a href="/company/"
                      class="header-menu-v2__title__link js-header-accordion-head">会社情報</a></div>
                  <div class="header-menu-v2__body js-header-accordion-body">
                    <ul class="header-menu-v2__list sp-menu-show" data-pc-list-col="2">
                      <li class="header-menu-v2__list__item"><a href="/company/"
                          class="header-menu-v2__list__item__link">会社情報 トップ</a></li>
                    </ul>
                    <ul class="header-menu-v2__list" data-pc-list-col="2">
                      <li class="header-menu-v2__list__item"><a href="/company/outline/"
                          class="header-menu-v2__list__item__link">会社概要</a></li>
                      <li class="header-menu-v2__list__item"><a href="/company/business/"
                          class="header-menu-v2__list__item__link">事業案内</a></li>
                      <li class="header-menu-v2__list__item"><a href="/company/csr/"
                          class="header-menu-v2__list__item__link">ライフカードのCSR活動</a></li>
                      <li class="header-menu-v2__list__item"><a href="/company/press/"
                          class="header-menu-v2__list__item__link">ニュースリリース</a></li>
                      <li class="header-menu-v2__list__item"><a href="/company/organization/"
                          class="header-menu-v2__list__item__link">組織図</a></li>
                      <li class="header-menu-v2__list__item"><a
                          href="https://www.ir-aiful.com/jp/corporate/group.html" target="_blank" rel="noopener"
                          class="header-menu-v2__list__item__link--blank">グループ会社</a></li>
                      <li class="header-menu-v2__list__item"><a href="/company/publicnotice/"
                          class="header-menu-v2__list__item__link">電子公告・決算情報</a></li>
                      <li class="header-menu-v2__list__item"><a href="/company/recruit/"
                          class="header-menu-v2__list__item__link">採用情報</a></li>
                      <li class="header-menu-v2__list__item"><a href="/yell/" class="header-menu-v2__list__item__link">公式キャラクター</a></li>
                    </ul>
                  </div>
                </div>
                <div class="header-menu-v2__item">
                  <div class="header-menu-v2__title-v2">
                    <a href="https://www.aiful.co.jp/biz/" target="_blank" rel="noopener" class="header-menu-v2__list__item__link--blank">グループ商品のご案内</a>
                  </div>
                </div>
          </div>
            </div>
            <div class="header-menu-v2-util">
              <div class="header-menu-v2-util__button">
                <div class="button"><a href="/" class="button__type"><span class="button__label">ライフカード トップ</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/Header__body-->
    </div>
    <!--/Header__inner-->
  </div>
  <!--/Header-->
</header>