<!DOCTYPE HTML>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title>クレジットカードはライフカード</title>
    <script type="text/javascript" src="/common/gtm.js"></script>
    <meta name="description" content="【年会費無料のクレジットカードならライフカード】即日審査/最短2営業日で発行。100円ごとにポイントが貯まり、最大5年間有効。誕生月にはポイント3倍！学生専用カードや毎月のお支払額を調整できるリボ専用カード「Stylish」などもご用意しています。">
    <meta property="og:type" content="website">
    <meta property="og:title" content="クレジットカードはライフカード">
    <meta property="og:description" content="【年会費無料のクレジットカードならライフカード】即日審査/最短2営業日で発行。100円ごとにポイントが貯まり、最大5年間有効。誕生月にはポイント3倍！学生専用カードや毎月のお支払額を調整できるリボ専用カード「Stylish」などもご用意しています。">
    <meta property="og:url" content="https://www.lifecard.co.jp/">
    <link rel="canonical" href="https://www.lifecard.co.jp/">
    <meta property="og:image" content="https://www.lifecard.co.jp/app-files/img/symbol/ogp.webp">
    <meta property="og:site_name" content="クレジットカードはライフカード">
    <meta property="og:locale" content="ja_JP">
    <link rel="shortcut icon" href="/app-files/img/symbol/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/app-files/img/symbol/apple-touch-icon.webp">
    <link rel="stylesheet" href="/app-files/css/custom/home.css?20250314093050">
    <link rel="preload" as="image" href="/img/kv_top_pc1202.webp" type="image/webp" /> 
    <link rel="preload" as="image" href="/img/kv_top_sp1202.webp" type="image/webp" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" defer></script>
    <script src="/app-files/js/custom/top.js?20250128093040" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js" defer></script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://www.lifecard.co.jp/",
      "logo": "https://www.lifecard.co.jp/app-files/img/symbol/logo_main.webp"
    }
    </script>
  </head>
  <body class="layout-gray">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMNRFCT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- モーダル -->
    <div id="lifecardModal" class="modal">
      <div class="modal-content">
        <div class="close-button-detail">
          <p class="close-button">×</p>
        </div>
        <div class="modal-img">
          <a href="https://www.lifecard.co.jp/card/campaign/join/index.html?argument=xZcLVgDf&dmai=a6780a858c7d23">
            <img src="/img/pg-modal-banner.png" alt="カード入会で最大2万円プレゼント" />
          </a>
        </div>
      </div>
    </div>
    <!-- spのみダウンロードコンテンツ -->
    <div class="sp-dl_contents util-pc-hidden">
      <p>カード管理をかんたん・便利に！</p>
      <a href="/howto/app/">アプリをダウンロード</a>
      <div class="round_btn"></div>
    </div>
    <header></header>
    <main></main>
    <footer></footer>
  </body>
</html>